body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('image2.jpeg'); /* Replace 'background.jpg' with your image path */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
}

header {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.hero {
    text-align: center;
    padding: 100px 0;
}

.hero h1 {
    font-size: 36px;
}

.ngo-list {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 5px 0;
}
